<div class="banner-slider16 owl-paginav">
    <div class="wrap-item">
        <div class="item-banner16">
            <div class="banner-thumb">
                <a href="#"><img src="../../../assets/images/home16/slide1.jpg" alt="" /></a>
            </div>
            <div class="banner-info style1">
                <strong class="text-behide top-to-bottom time-delay1">sale</strong>
                <label class="bottom-to-top time-delay1">women's robes</label>
                <div class="info-text-special left-to-right time-delay2">
                    <strong>-70<sup>%</sup><sub>off</sub></strong>
                </div>
                <h3 class="right-to-left time-delay2">Design by: fanbong</h3>
                <a href="#" class="browstore bottom-to-top time-delay3"><span>browse store</span></a>
            </div>
        </div>
    </div>
</div>