.shopping{
    margin-top: 110px !important;
}
.input-number{
    width: 60px;
    text-align: center;
}
.warning-error{
    color: red;
}
.errorcart{
    margin-bottom: 25rem;
    margin-top: 5rem;
}
