<div class="gallery-product-tabs">
    <div class="container">
        <h2 class="big-title">products</h2>
        <div class="title-gal-pro-tab">
            <ul>
                <li class="active"><a routerLink="#" data-id="lt">LIGHTING</a></li>
                <li><a routerLink="#" data-id="sf">SOFA</a></li>
                <li><a routerLink="#" data-id="bar">BATHROOM</a></li>
                <li><a routerLink="#" data-id="kc">KITCHEN</a></li>
                <li><a routerLink="#" data-id="od">OUTDOOR</a></li>
                <li><a routerLink="#" data-id="ber">BEDROOM</a></li>
            </ul>
        </div>
        <app-listproduct/>
    </div>
</div>