<div class="footer4">
    <div class="footer-top4">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-box4 service-footer">
              <h2 class="title-box4">NEED TO KNOW</h2>
              <ul class="list-unstyled">
                <li>
                  <p>
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>Free
                    Shipping<br />
                    On all orders over $50.
                  </p>
                </li>
                <li>
                  <p>
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>Free
                    Returns <br />On all orders.
                  </p>
                </li>
                <li>
                  <p>
                    <i class="fa fa-globe" aria-hidden="true"></i
                    >International Shipping<br />To over 80 countries.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-box4 menu-footer4">
              <h2 class="title-box4">INFORMATION</h2>
              <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Template Settings</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Search Terms</a></li>
                <li><a href="#">Orders and Returns</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-box4 social-contact4">
              <h2 class="title-box4">STORE INFORMATION</h2>
              <div class="list-contact-footer">
                <p class="contact-address">
                  <span>ADDRESS:</span>My Company , 4578 Marmora Road,Glasgow
                  D04 89GR
                </p>
                <p class="contact-mobile">
                  <span>Mobile:</span>01678 311 160 - 043 888 666 9
                </p>
                <p class="contact-email">
                  <span>E-mail:</span
                  ><a href="mailto:ngovanvu203@gmail.com">hpv03@gmail.com</a>
                </p>
              </div>
              <h2 class="title-box4">connect with</h2>
              <div class="social-footer4">
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
                <a href="#"
                  ><i class="fa fa-twitter" aria-hidden="true"></i
                ></a>
                <a href="#"
                  ><i class="fa fa-pinterest" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom4">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-7 col-xs-12">
            <div class="logo-footer3">
              <a href="#"
                ><img src="images/home3/logo-footer.png" alt=""
              /></a>
            </div>
            <div class="copyright3">
              <p>
                HPV Store ©2023 - Design by: PhuongTran<a href="#">.vjppro</a>
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-5 col-xs-12">
            <!-- <div class="paymment-method">
              <a href="#"><img src="images/home3/pm1.png" alt="" /></a>
              <a href="#"><img src="images/home3/pm2.png" alt="" /></a>
              <a href="#"><img src="images/home3/pm3.png" alt="" /></a>
              <a href="#"><img src="images/home3/pm4.png" alt="" /></a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
