
<div class="wrap">
	<div id="header">
		<div class="header2">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4 col-xs-12">
						<div class="logo2"><a href="index.html"><img src="images/home2/logo.png" alt="" /></a></div>
					</div>
					<div class="col-md-9 col-sm-8 col-xs-9">
						<ul class="list-cart-search list-inline">
							<li>
								<div class="my-account my-account2">
									<a href="#" class="my-account-link"><i class="fa fa-user" aria-hidden="true"></i></a>
									<ul class="list-account list-unstyled">
										<li><a href="#"><i class="fa fa-user-plus"></i> Account Info</a></li>
										<li><a href="#"><i class="fa fa-heart-o"></i> Wish List</a></li>
										<li><a href="#"><i class="fa fa-balance-scale"></i> Compare</a></li>
										<li><a href="#"><i class="fa fa-unlock-alt"></i> Sign in</a></li>
										<li><a href="#"><i class="fa fa-sign-in"></i> Checkout</a></li>
									</ul>
								</div>
							</li>
							<li>
								<div class="search-hover search-hover2">
									<a href="#" class="search-link"><i class="fa fa-search" aria-hidden="true"></i></a>
									<form class="search-form-hover">
										<input type="text" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" value="Search...">
										<input type="submit" value="">
									</form>
								</div>
							</li>
							<li>
								<div class="mini-cart mini-cart2">
									<a href="#" class="mini-cart-link">
										<span class="mini-cart-icon"><i aria-hidden="true" class="fa fa-opencart"></i></span>
										<span class="mini-cart-number">cart: 0</span>
									</a>
									<div class="mini-cart-content">
										<h2 class="mini-cart-items">2 items</h2>
										<ul class="list-mini-cart-item">
											<li>
												<div class="mini-cart-thumb">
													<a class="cart-thumb" href="#">
														<img alt="" src="images/photos/4.jpg">
													</a>
												</div>	
												<div class="mini-cart-info">
													<h3 class="mini-cart-title"><a href="#">Birch Lane Merriweather</a></h3>
													<div class="mini-cart-qty"><label>Qty:</label> <span>1</span></div>
												</div>	
												<div class="mini-cart-remove">
													<a class="remove-product" href="#"></a>
													<span class="mini-cart-price">$49.99</span>
												</div>	
											</li>
											<li>
												<div class="mini-cart-thumb">
													<a class="cart-thumb" href="#">
														<img alt="" src="images/photos/9.jpg">
													</a>
												</div>
												<div class="mini-cart-info">
													<h3 class="mini-cart-title"><a href="#">Light Wall Sconce</a></h3>
													<div class="mini-cart-qty"><label>Qty:</label> <span>1</span></div>
												</div>
												<div class="mini-cart-remove">
													<a class="remove-product" href="#"></a>
													<span class="mini-cart-price">$23.00</span>
												</div>
											</li>
										</ul>
										<div class="mini-cart-total">
											<label>Subtotal</label> <span>$72.99</span>
										</div>
										<div class="mini-cart-button">
											<a class="mini-cart-edit" href="#">edit cart</a>
											<a class="mini-cart-checkout" href="#">checkout</a>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-md-9 col-sm-12 col-xs-3 col-md-offset-3">
						<nav class="main-nav main-nav2">
							<ul>
								<li class="menu-item-has-children">
									<a>home</a>
								</li>
								<li class="has-mega-menu">
									<a>Shopping</a>
								</li>
								<li class="has-mega-menu">
									<a>About</a>
								</li>
								<li><a>Accessories</a></li>
							</ul>
							<a class="toggle-mobile-menu" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
    <main>  
        <router-outlet />
    </main>
    <div id="footer">
		<div class="footer text-center">
			<div class="container">
				<div class="logo-footer"><a href="index.html"><img src="images/home1/logo-footer.png" alt="" /></a></div>
				<div class="menu-footer">
					<ul class="list-inline">
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Returns</a></li>
						<li><a href="#">Shipping</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
				<div class="social-footer">
					<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				</div>
				<div class="copyright">
					<p>Lame’r Fashion Store ©2016 - Design by: <a href="#">7uptheme.net</a></p>
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer -->
</div>
