<div class="wrap">
  <div id="header">
    <div class="header3">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-12">
            <div class="logo3">
              <a href="index.html"
                ><img src="images/home3/logo.png" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-8 col-sm-10 col-xs-6">
            <nav class="main-nav main-nav3">
              <ul>
                <li class="menu-item-has-children">
                  <a href="">home</a>
                </li>
                <li class="has-mega-menu">
                  <a href="">Shopping</a>
                </li>
                <li class="has-mega-menu">
                  <a href="">About</a>
                </li>
                <li><a href="">Contact</a></li>
              </ul>
              <a class="toggle-mobile-menu" href="#"
                ><i class="fa fa-bars" aria-hidden="true"></i
              ></a>
            </nav>
          </div>
          <div class="col-md-2 hidden-sm col-xs-6">
            <ul class="list-cart-search3 list-inline">
              <li>
                <div class="my-account">
                  <a href="#" class="my-account-link"
                    ><i class="fa fa-user" aria-hidden="true"></i
                  ></a>
                  <ul class="list-account list-unstyled">
                    <li>
                      <a href="#"
                        ><i class="fa fa-user-plus"></i> Account Info</a
                      >
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-heart-o"></i> Wish List</a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-balance-scale"></i> Compare</a
                      >
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-unlock-alt"></i> Sign in</a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-sign-in"></i> Checkout</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="search-hover">
                  <a href="#" class="search-link"
                    ><i class="fa fa-search" aria-hidden="true"></i
                  ></a>
                  <form class="search-form-hover">
                    <input
                      type="text"
                      onblur="if (this.value=='') this.value = this.defaultValue"
                      onfocus="if (this.value==this.defaultValue) this.value = ''"
                      value="Search..."
                    />
                    <input type="submit" value="" />
                  </form>
                </div>
              </li>
              <li>
                <div class="mini-cart">
                  <a href="#" class="mini-cart-link">
                    <span class="mini-cart-icon"
                      ><i aria-hidden="true" class="fa fa-opencart"></i
                    ></span>
                    <span class="mini-cart-number">0</span>
                  </a>
                  <div class="mini-cart-content">
                    <h2 class="mini-cart-items">2 items</h2>
                    <ul class="list-mini-cart-item">
                      <li>
                        <div class="mini-cart-thumb">
                          <a class="cart-thumb" href="#">
                            <img alt="" src="images/photos/4.jpg" />
                          </a>
                        </div>
                        <div class="mini-cart-info">
                          <h3 class="mini-cart-title">
                            <a href="#">Birch Lane Merriweather</a>
                          </h3>
                          <div class="mini-cart-qty">
                            <label>Qty:</label> <span>1</span>
                          </div>
                        </div>
                        <div class="mini-cart-remove">
                          <a class="remove-product" href="#"></a>
                          <span class="mini-cart-price">$49.99</span>
                        </div>
                      </li>
                    </ul>
                    <div class="mini-cart-total">
                      <label>Subtotal</label> <span>$72.99</span>
                    </div>
                    <div class="mini-cart-button">
                      <a class="mini-cart-edit" href="#">edit cart</a>
                      <a class="mini-cart-checkout" href="#">checkout</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <main>
    <router-outlet />
  </main>
  <div id="footer">
    <div class="footer4">
      <div class="footer-top4">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="footer-box4 service-footer">
                <h2 class="title-box4">NEED TO KNOW</h2>
                <ul class="list-unstyled">
                  <li>
                    <p>
                      <i class="fa fa-cart-plus" aria-hidden="true"></i>Free
                      Shipping<br />
                      On all orders over $50.
                    </p>
                  </li>
                  <li>
                    <p>
                      <i class="fa fa-cart-plus" aria-hidden="true"></i>Free
                      Returns <br />On all orders.
                    </p>
                  </li>
                  <li>
                    <p>
                      <i class="fa fa-globe" aria-hidden="true"></i
                      >International Shipping<br />To over 80 countries.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="footer-box4 menu-footer4">
                <h2 class="title-box4">INFORMATION</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Template Settings</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Search Terms</a></li>
                  <li><a href="#">Orders and Returns</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="footer-box4 social-contact4">
                <h2 class="title-box4">STORE INFORMATION</h2>
                <div class="list-contact-footer">
                  <p class="contact-address">
                    <span>ADDRESS:</span>My Company , 4578 Marmora Road,Glasgow
                    D04 89GR
                  </p>
                  <p class="contact-mobile">
                    <span>Mobile:</span>01678 311 160 - 043 888 666 9
                  </p>
                  <p class="contact-email">
                    <span>E-mail:</span
                    ><a href="mailto:ngovanvu203@gmail.com">hpv03@gmail.com</a>
                  </p>
                </div>
                <h2 class="title-box4">connect with</h2>
                <div class="social-footer4">
                  <a href="#"
                    ><i class="fa fa-facebook" aria-hidden="true"></i
                  ></a>
                  <a href="#"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                  <a href="#"
                    ><i class="fa fa-pinterest" aria-hidden="true"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom4">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-7 col-xs-12">
              <div class="logo-footer3">
                <a href="#"
                  ><img src="images/home3/logo-footer.png" alt=""
                /></a>
              </div>
              <div class="copyright3">
                <p>
                  HPV Store ©2023 - Design by: PhuongTran<a href="#">.vjppro</a>
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-12">
              <!-- <div class="paymment-method">
                <a href="#"><img src="images/home3/pm1.png" alt="" /></a>
                <a href="#"><img src="images/home3/pm2.png" alt="" /></a>
                <a href="#"><img src="images/home3/pm3.png" alt="" /></a>
                <a href="#"><img src="images/home3/pm4.png" alt="" /></a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer -->
</div>
