<div class="content-gal-pro-tab">
    <div id="lt" class="gal-pro-slider active">
        <div class="tab-content">
            <div id="tab1" class="tab-pane fade in active">
                <div class="best-tab-content">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="item-best-tab style2">
                                <div class="product-thumb">
                                    <a href="#" class="product-thumb-link"><img src="../../../assets/images/lighting4.jpg" alt="" /></a>
                                    <a class="quickview-link fancybox.ajax" href="quick-view.html">quick view</a>
                                    <div class="product-extra-link">
                                        <a href="#" class="addcart-link">
                                            <i aria-hidden="true" class="fa fa-opencart"></i>
                                            <span>Add to cart</span>
                                        </a>
                                        <a href="#" class="wishlist-link">
                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            <span>Wishlist</span>
                                        </a>
                                        <a href="#" class="compare-link">
                                            <i aria-hidden="true" class="fa fa-balance-scale"></i>
                                            <span>Compare</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a href="#">BEN SHERMAN PINSTRIPE</a></h3>
                                    <div class="product-price">
                                        <ins><span>$70.00</span></ins>
                                        <del><span>$90.00</span></del>
                                    </div>
                                    <div class="product-rating">
                                        <div class="inner-rating" style="width:100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Item -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="item-best-tab style2">
                                <div class="product-thumb">
                                    <a href="#" class="product-thumb-link"><img src="../../../assets/images/lighting1.jpg" alt="" /></a>
                                    <a class="quickview-link fancybox.ajax" href="quick-view.html">quick view</a>
                                    <div class="product-extra-link">
                                        <a href="#" class="addcart-link">
                                            <i aria-hidden="true" class="fa fa-opencart"></i>
                                            <span>Add to cart</span>
                                        </a>
                                        <a href="#" class="wishlist-link">
                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            <span>Wishlist</span>
                                        </a>
                                        <a href="#" class="compare-link">
                                            <i aria-hidden="true" class="fa fa-balance-scale"></i>
                                            <span>Compare</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a href="#">BEN SHERMAN PINSTRIPE</a></h3>
                                    <div class="product-price">
                                        <ins><span>$70.00</span></ins>
                                        <del><span>$90.00</span></del>
                                    </div>
                                    <div class="product-rating">
                                        <div class="inner-rating" style="width:100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Item -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="item-best-tab style2">
                                <div class="product-thumb">
                                    <a href="#" class="product-thumb-link"><img src="../../../assets/images/lighting2.jpg" alt="" /></a>
                                    <a class="quickview-link fancybox.ajax" href="quick-view.html">quick view</a>
                                    <div class="product-extra-link">
                                        <a href="#" class="addcart-link">
                                            <i aria-hidden="true" class="fa fa-opencart"></i>
                                            <span>Add to cart</span>
                                        </a>
                                        <a href="#" class="wishlist-link">
                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            <span>Wishlist</span>
                                        </a>
                                        <a href="#" class="compare-link">
                                            <i aria-hidden="true" class="fa fa-balance-scale"></i>
                                            <span>Compare</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a href="#">BEN SHERMAN PINSTRIPE</a></h3>
                                    <div class="product-price">
                                        <ins><span>$70.00</span></ins>
                                        <del><span>$90.00</span></del>
                                    </div>
                                    <div class="product-rating">
                                        <div class="inner-rating" style="width:100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Item -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="item-best-tab style2">
                                <div class="product-thumb">
                                    <a href="#" class="product-thumb-link"><img src="../../../assets/images/lighting3.jpg" alt="" /></a>
                                    <a class="quickview-link fancybox.ajax" href="quick-view.html">quick view</a>
                                    <div class="product-extra-link">
                                        <a href="#" class="addcart-link">
                                            <i aria-hidden="true" class="fa fa-opencart"></i>
                                            <span>Add to cart</span>
                                        </a>
                                        <a href="#" class="wishlist-link">
                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            <span>Wishlist</span>
                                        </a>
                                        <a href="#" class="compare-link">
                                            <i aria-hidden="true" class="fa fa-balance-scale"></i>
                                            <span>Compare</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a href="#">BEN SHERMAN PINSTRIPE</a></h3>
                                    <div class="product-price">
                                        <ins><span>$70.00</span></ins>
                                        <del><span>$90.00</span></del>
                                    </div>
                                    <div class="product-rating">
                                        <div class="inner-rating" style="width:100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Item -->
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="item-best-tab style2">
                                <div class="product-thumb">
                                    <a href="#" class="product-thumb-link"><img src="../../../assets/images/lighting4.jpg" alt="" /></a>
                                    <a class="quickview-link fancybox.ajax" href="quick-view.html">quick view</a>
                                    <div class="product-extra-link">
                                        <a href="#" class="addcart-link">
                                            <i aria-hidden="true" class="fa fa-opencart"></i>
                                            <span>Add to cart</span>
                                        </a>
                                        <a href="#" class="wishlist-link">
                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            <span>Wishlist</span>
                                        </a>
                                        <a href="#" class="compare-link">
                                            <i aria-hidden="true" class="fa fa-balance-scale"></i>
                                            <span>Compare</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a href="#">BEN SHERMAN PINSTRIPE</a></h3>
                                    <div class="product-price">
                                        <ins><span>$70.00</span></ins>
                                        <del><span>$90.00</span></del>
                                    </div>
                                    <div class="product-rating">
                                        <div class="inner-rating" style="width:100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Item -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="item-best-tab style2">
                                <div class="product-thumb">
                                    <a href="#" class="product-thumb-link"><img src="../../../assets/images/lighting1.jpg" alt="" /></a>
                                    <a class="quickview-link fancybox.ajax" href="quick-view.html">quick view</a>
                                    <div class="product-extra-link">
                                        <a href="#" class="addcart-link">
                                            <i aria-hidden="true" class="fa fa-opencart"></i>
                                            <span>Add to cart</span>
                                        </a>
                                        <a href="#" class="wishlist-link">
                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            <span>Wishlist</span>
                                        </a>
                                        <a href="#" class="compare-link">
                                            <i aria-hidden="true" class="fa fa-balance-scale"></i>
                                            <span>Compare</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a href="#">BEN SHERMAN PINSTRIPE</a></h3>
                                    <div class="product-price">
                                        <ins><span>$70.00</span></ins>
                                        <del><span>$90.00</span></del>
                                    </div>
                                    <div class="product-rating">
                                        <div class="inner-rating" style="width:100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Item -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="item-best-tab style2">
                                <div class="product-thumb">
                                    <a href="#" class="product-thumb-link"><img src="../../../assets/images/lighting2.jpg" alt="" /></a>
                                    <a class="quickview-link fancybox.ajax" href="quick-view.html">quick view</a>
                                    <div class="product-extra-link">
                                        <a href="#" class="addcart-link">
                                            <i aria-hidden="true" class="fa fa-opencart"></i>
                                            <span>Add to cart</span>
                                        </a>
                                        <a href="#" class="wishlist-link">
                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            <span>Wishlist</span>
                                        </a>
                                        <a href="#" class="compare-link">
                                            <i aria-hidden="true" class="fa fa-balance-scale"></i>
                                            <span>Compare</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a href="#">BEN SHERMAN PINSTRIPE</a></h3>
                                    <div class="product-price">
                                        <ins><span>$70.00</span></ins>
                                        <del><span>$90.00</span></del>
                                    </div>
                                    <div class="product-rating">
                                        <div class="inner-rating" style="width:100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Item -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="item-best-tab style2">
                                <div class="product-thumb">
                                    <a href="#" class="product-thumb-link"><img src="../../../assets/images/lighting3.jpg" alt="" /></a>
                                    <a class="quickview-link fancybox.ajax" href="quick-view.html">quick view</a>
                                    <div class="product-extra-link">
                                        <a href="#" class="addcart-link">
                                            <i aria-hidden="true" class="fa fa-opencart"></i>
                                            <span>Add to cart</span>
                                        </a>
                                        <a href="#" class="wishlist-link">
                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            <span>Wishlist</span>
                                        </a>
                                        <a href="#" class="compare-link">
                                            <i aria-hidden="true" class="fa fa-balance-scale"></i>
                                            <span>Compare</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h3 class="product-title"><a href="#">BEN SHERMAN PINSTRIPE</a></h3>
                                    <div class="product-price">
                                        <ins><span>$70.00</span></ins>
                                        <del><span>$90.00</span></del>
                                    </div>
                                    <div class="product-rating">
                                        <div class="inner-rating" style="width:100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Item -->
                    </div>
                </div>
            </div>
            <!-- End Tab -->
        </div>
    </div>
</div>