<div class="supper-deal11">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="intro-deal11">
							<h3>super</h3>
							<h2>deals</h2>
							<p>Save BIG on top quality items! Updated daily.</p>
							<div class="deal-count11" data-date="07/27/2017"></div>
							<a href="#" class="btn-link11 style2" data-hover="view all"><span>view all</span></a>
						</div>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="product-supper11">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="supper-gal">
										<div class="owl-directnav">
											<div class="wrap-item">
												<div class="item"><a href="#"><img src="../../../assets/images/photos/shoes/img2.jpg" alt="" /></a></div>
												<div class="item"><a href="#"><img src="../../../assets/images/photos/shoes/img3.jpg" alt="" /></a></div>
												<div class="item"><a href="#"><img src="../../../assets/images/photos/shoes/img4.jpg" alt="" /></a></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="product-info">
										<h3 class="title-product"><a href="#">Women's Comfort Thong</a></h3>
										<div class="product-price">
											<ins><span>$65.00</span></ins>
											<del><span>$76.00</span></del>
										</div>
										<div class="product-rating">
											<div style="width:100%" class="inner-rating"></div>
										</div>
										<div class="attr-product attr-color">
											<h3>color</h3>
											<ul class="list-inline">
												<li><a href="#"><span style="background:#555555"></span>Black</a></li>
												<li><a href="#"><span style="background:#e36d55"></span>Beige</a></li>
												<li><a href="#"><span style="background:#f1ca2d"></span>Yellow</a></li>
											</ul>
										</div>
										<div class="attr-product attr-size">
											<h3>Size</h3>
											<ul class="list-inline">
												<li><a href="#"><span></span>31"</a></li>
												<li><a href="#"><span></span>XS</a></li>
												<li><a href="#"><span></span>m</a></li>
											</ul>
										</div>
										<div class="supper-deal-link">
											<a href="#" class="btn-link11" data-hover="add to cart"><span>add to cart</span></a>
											<a href="#" class="btn-link11" data-hover="view detail"><span>view detail</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>